:root {
  --dark: #21222c;
  --main: #62a9cd;
  --green: #d1d563;
}

#root {
  overflow: hidden;
  height: 100vh;
  display: flex;
  flex-flow: column;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--dark);
  color: white;
}

main {
  overflow: auto;
}

li.sesion {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 50px;
  color: #525252;
}
.sesion-name {
  font-size: 32px;
  font-weight: 500;
}
.sesion-name.active {
  color: #8ccbdb;
}

.today {
  font-size: 20px;
  font-weight: 600;
}
li.lap {
  display: flex;
  margin-bottom: 15px;
}

.hourlap {
  margin-right: 10px;
  min-width: 80px;
  display: block;
  margin-bottom: 5px;
  color: #62a9cd;
}

.lap div {
  margin: 0;
  background-color: #f3f9fb;
  padding: 10px;
  min-height: 50px;
  flex: 1;
  overflow: auto;
  font-size: 13px;
}

.lap div strong {
  font-size: 15px;
}

.laps-list {
  margin-left: 20px;
}

.newLap {
  min-width: 80%;
  height: 50px;
  outline: none;
  border: solid 1px var(--main);
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 10px;
}

button.addSession {
  cursor: pointer;
  background-color: var(--dark);
  outline: none;
  border: solid 1px var(--main);
  padding: 5px 10px;
  color: white;
  font-size: 15px;
  border-radius: 4px;
  margin: 20px 0;
  user-select: none;
  display: flex;
  justify-content: space-between;
  width: 140px;
  align-items: baseline;
}

.sesion-horas {
  font-size: 15px;
  width: 125px;
  display: inline;
  margin-left: 15px;
}

.sesion-totaltime {
  font-size: 16px;
  margin: 10px 0;
  display: block;
}

.sesion-horas span:first-child::after {
  content: "-";
  margin-left: 5px;
}

.session-description {
  min-width: 210px;
  max-width: 210px;
  border-right: solid 3px #d8d8d8;
}

ul.sesionList {
  padding-left: 25px;
}

.session-laps ul {
  padding: 0;
}

section.session-laps {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column nowrap;
  padding: 0 40px;
}

.newLapContainer {
  display: flex;
  flex-flow: column;
  position: relative;
}

.newLapContainer button {
  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 50%;
  position: absolute;
  right: -10px;
  bottom: 0;
  background-color: var(--green);
  font-size: 25px;
  cursor: pointer;
}

section.HorasHoy {
  background-color: #f3f9fb;
  width: 90px;
  height: 80px;
  border-top: solid 5px var(--green);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

section.HorasHoy > span:first-child{
  margin-top: 10px;
  color: #333;
  font-size: 18px;
}

section.HorasHoy > div{
  margin-top: 10px;
  color: var(--main);
  font-weight: 600;
  font-size: 14px;
}

section.HorasHoy > div > span{
  margin-right: 5px;
  font-size: 22px;
}