:root{
    --softblue: hsl(215, 51%, 70%)
    --cyan: hsl(178, 100%, 50%)
    --verydarkblue_main: hsl(217, 54%, 11%)
    --verydarkblue_card: hsl(216, 50%, 16%)
    --verydarkblue_line: hsl(215, 32%, 27%)
}
 *{
    font-family: 'Outfit', sans-serif;
    box-sizing: border-box;
 }

